@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<body class="bodyPrivacity">
    <h3>Politicas de privacidad.</h3>

    <h4>Al utilizar nuestros servicios, nos confías tus datos. Entendemos que es una gran responsabilidad y nos
        esforzamos al máximo para proteger tu información y permitirte controlarla.</h4>
    <p>El objetivo de esta Política de Privacidad es informarte sobre qué datos recogemos, por qué los recogemos y cómo
        puedes actualizarlos, gestionarlos, exportarlos y eliminarlos.</p>

    <h4>Utilizamos los datos para crear y mejorar los servicios</h4>
    <p>Utilizamos la información que recogemos de todos nuestros servicios con las siguientes finalidades:</p>
    <ul>
        <li>
            <h5>Prestar nuestros servicios: </h5>Utilizamos tu información para prestar nuestros servicios como, por
            ejemplo, procesamos los términos que buscas
            para poder devolverte resultados o te ayudamos a compartir contenido sugiriéndote destinatarios a partir de
            tus
            contactos.
        </li>
        <li>
            <h5>Mantener y mejorar nuestros servicios: </h5>También usamos tu información para garantizar que nuestros
            servicios funcionan correctamente como, por ejemplo,
            realizar un seguimiento de las interrupciones de red o solucionar los problemas de los que nos informas.
            También
            utilizamos tu información para mejorar nuestros servicios. Por ejemplo, conocer los términos de búsqueda que
            se
            escriben mal con más frecuencia nos ayuda a mejorar las funciones de revisión ortográfica que se utilizan en
            todos nuestros servicios.
        </li>
        <li>
            <h5>Desarrollar nuevos servicios: </h5>Utilizamos la información que recogemos de los servicios actuales
            para desarrollar otros nuevos. Por ejemplo, saber cómo organizaban los usuarios las fotos en Picasa (la
            primera aplicación de fotos de Google) nos ayudó a diseñar y lanzar Google Fotos.
        </li>
        <li>
            <h5>Ofrecer servicios personalizados, incluido el contenido y los anuncios: </h5>
            Utilizamos la información que recogemos para personalizar nuestros servicios para ti, como ofrecer
            recomendaciones, contenido personalizado y resultados de búsqueda personalizados. Por ejemplo, la Revisión
            de Seguridad ofrece consejos de seguridad adaptados a la forma en que utilizas los productos de Google.
            Además, en función de tus ajustes disponibles, Google Play podría utilizar información, como las
            aplicaciones que ya has instalado y los vídeos que has visto en YouTube, para sugerirte nuevas aplicaciones
            que podrían gustarte.
        </li>
    </ul>


</body>
