@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}
<link rel="stylesheet" href="~/css/site">

<body class="bodylogin">

    <div class="login ">
        <section class="sections">
            
            <div class="contenedorLogin">

                <form id="account" method="post">

                    <h3 class="h3" style="color: white;">Iniciar Sesión</h3>
                    <hr style="color: white;">

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                            placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                            aria-required="true" placeholder="Contraseña" />
                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar
                            sesión</button>
                    </div>
                    <div>
                        <p class="opcioneslogin">
                            <a id="forgot-password" asp-page="./ForgotPassword">¿olvidaste tu contraseña?</a>
                        </p>
                        <p class="opcioneslogin">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un nuevo
                                usuario</a>
                        </p>
                        <p class="opcioneslogin">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación
                                por correo electrónico</a>
                        </p>
                    </div>
                </form>

            </div>

        </section>
    </div>


</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
